*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}
html {
    font-size: 100%; }

body {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    line-height: 1.5;
    color: #000;
    background-color: #fafafa;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: Billabong;
    src: url('./css/fonts/Billabong.ttf');
    letter-spacing: .1rem;
}

a {
    text-decoration: none;
}

.top-bar {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    padding: 0rem 3rem .0rem 3rem;
    width: 100%;
    height: 100%;
}
    
.top-bar__icon {
    width: 1.8rem;
    font-family: inherit;
    margin-top: 1.0rem;
}


.logo_font {
    font-family:billabong;
    width: 3rem;
    height: 2rem;
    font-size: 2.2rem;
    font-weight: 200;
    color: #000;  
}


.top_center {
    text-align: center;
}

.top_right {
    float: right;
}


.row {
    max-width: 114rem;
    margin: 0 auto; }
    .row:not(:last-child) {
      margin-bottom: 8rem; }
    .row::after {
      content: "";
      display: table;
      clear: both; }
    .row [class^="col-"] {
      float: left; }
      .row [class^="col-"]:not(:last-child) {
        margin-right: 6rem; }
    .row .col-1-of-2 {
      width: calc((100% - 6rem) / 2); }
    .row .col-1-of-3 {
      width: calc((100% - 2 * 6rem) / 3); }
    .row .col-2-of-3 {
      width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
    .row .col-1-of-4 {
      width: calc((100% - 3 * 6rem) / 4); }
    .row .col-2-of-4 {
      width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
    .row .col-3-of-4 {
      width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }


      @media only screen and (max-width: 425px) {
        .row [class^="col-"]:first-child {
            margin-right: 2rem; }
            .row [class^="col-"]:last-child {
                float: right; }
    }

    @media only screen and (max-width: 320px) {
        row [class^="col-"]:first-child {
            margin-right: 2rem; }
        }



.section-post {
    margin-top: 4rem;
    background-color: inherit;
}
    

.user-pix {
    position: absolute;
    width:3rem;
    height: 3rem;
    border-radius: 50%;
    transform: translate(-5px, -5px);
    vertical-align: baseline;
}

.post {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
}

.canvas-pix {
    transform: translate(-5px, -5px);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 4px;
}
._6q-tv {
    height: 100%;
    width: 100%;
}

._2dbep {
    background-color: #fafafa;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
}

._2dbep {
    border: 1px solid rgba(0,0,0,.0975);
    border-radius: 50%;
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}