*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
html {
    font-size: 100%; }

body {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    line-height: 1.5;
    color: #000;
    background-color: #fafafa;
}

h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


img {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

@font-face {
    font-family: Billabong;
    src: url('./css/fonts/Billabong.ttf');
    letter-spacing: .1rem;
}

a {
    text-decoration: none;
}

.top-bar {
    background-color: #fff;
    box-shadow: 0 0 0rem rgba(#1f1d1d 0.1);
    padding: 1rem 0 1rem 3rem;
    width: 100%;
}
    
.top-bar__icon {
    width: 3rem;
    height: 1.5rem;;
    font-size: 3rem;
    font-family: inherit;
    font-weight: 200;
    color: #000;
    
}


.top-bar__right {
    float:right;
    padding-right:3rem;
    padding-top: 2rem;
}

.bar-space {
    padding-left: 1rem;
} 

.top-bar {
    background-color: #fff;
    box-shadow: 0 0 0rem rgba(#1f1d1d 0.1);
    padding: 1rem 0 1rem 3rem;
    width: 100%;
}

.top-bar__right {
    float:right;
    padding-right:3rem;
    padding-top: 2rem;
}

.logo__font {
    float: left;
}
.logo_font {
    font-family:billabong;   
    height: 2rem;
    font-size: 2.2rem;
    font-weight: 200;
    color: #000;  
}
.search input {
     text-indent: 2.6rem;
     color:#8a7d7d;
     font: inherit;
     font-size: .8rem;
     width: 13rem;
     background-color: #fafafa;
}
.search {
    min-width: 12.5rem;
    width: 21.5rem;
    margin-top: 1.6rem;
  }
  .search .fa-search { 
    text-indent: 3rem;
    margin-top:.5rem;
    position: absolute;
    color:#8a7d7d;
    font-size: .8rem;
  }
 

  .search .fa-search span:focus{ 
    position: absolute;
  }
 

  .search input[type=text]:focus {
    text-indent: 0rem;
    background-color: #ffffff;
}

  .span-search  {
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
  }
  .searchbox {
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #262626;
    outline: 0;
    padding: 3px 10px 3px 26px;
    z-index: 2;
}
.logo {
    float: left;
    font-family:billabong;
    padding:1rem;
    width: 3rem;
    height: 2.35rem;
    font-size: 2.0rem;
    font-weight: 200;
    color: #000;
    
}
.logo__font {
    float: left;
}
.top_center {
    text-align: center;
}

.top_right {
    float: right;
}


.row {
    max-width: 114rem;
    margin: 0 auto; }
    .row:not(:last-child) {
      margin-bottom: 8rem; }
    .row::after {
      content: "";
      display: table;
      clear: both; }
    .row [class^="col-"] {
      float: left; }
      .row [class^="col-"]:not(:last-child) {
        margin-right: 6rem; }
    .row .col-1-of-2 {
      width: calc((100% - 6rem) / 2); }
    .row .col-1-of-3 {
      width: calc((100% - 2 * 6rem) / 3); }
    .row .col-2-of-3 {
      width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
    .row .col-1-of-4 {
      width: calc((100% - 3 * 6rem) / 4); }
    .row .col-2-of-4 {
      width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
    .row .col-3-of-4 {
      width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }


      @media only screen and (max-width: 425px) {
        .row [class^="col-"]:first-child {
            margin-right: 2rem; }
            .row [class^="col-"]:last-child {
                float: right; }
    }

    @media only screen and (max-width: 320px) {
        row [class^="col-"]:first-child {
            margin-right: 2rem; }
        }



.section-post {
    margin-top: 4rem;
}

.section-post .post {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    max-width:37rem;
    min-height: 29rem;
    margin: 0 auto;
    box-sizing: inherit;
}

.user-pix {
    width:2.5rem;
    height: 2.5rem;
    transform: scale(1.0) translateY(0.25rem) translateX(0.25rem);
    border-radius: 50%;
    float: left;
}

.post-username {
    float: left;
}


.post-pix {
    width:36.9rem;
    max-height:36.9rem;
    overflow: hidden;
    margin-bottom: 1rem;
}



.icon-left {
    float: left;
    padding-left:1.5rem;

} 

.icon-right {
    float: right;
    margin-right:1.5rem;
}


.bar-space {
    margin-left: 1rem;
}

.bottom__icon {
    width: 1.8rem;
    font-family: inherit;
    float: left;
    margin-left: 1rem;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
}

.text-center {
    text-align: center;
}

@media only screen and (max-width: 425px) {
    .logo__font {
        display: none;
    }
}
    @media only screen and (max-width: 320px) {
        .logo__font {
            display: none;
        }  

        .row [class^="col-"]:not(:last-child) {
            margin-right: 0rem; } 
    }
      

    @media only screen and (max-width: 661px) {
        .top-bar__right {
            display: none;
        }
    }