* { 
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%; }

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
}

.top-bar {
    background-color: #fafafa;
}

.logo {

}

.explore{

}

.like {


}

.searchbox {

}

.profile {

}